.NavBar {
    background-color: #FFF;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  }
  
  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: #219EBC;
  }

  .Logo {
    height: 60px;
  }