.Post {
  background-color: #FFF;
  margin-bottom: 16px;
  text-align: center;  
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  margin-right: 4px;
}

.PostImage {
  border-radius: 5px;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #023047;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px;
  padding: 10px 5px;
}

.CardBody {
  padding: 10px 0px 10px 10px;

}

.Likes {
  font-size: 1.25em;
}

.Likes i {
  font-size: 1em;
}

.Heart {
  color: #F00;
  font-size: 1.25em;
}

.Heart:hover {
  color: #F00;
}

.HeartOutline:hover {
  color: #F00;
}

.PostDetails {
  font-size: 0.8em;
  margin-top: 10px;
}

.PostDetails i {
  font-size: 1em;
}

.PostDetails p {
  padding: 0px;
  margin: 0;
  font-size: 1em;
}