.SearchBar input {
  border: 1px solid #8ECAE6;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 0px;
}

.SearchIcon:hover {
  cursor: hand;
  color: #FB8500;
}

.CategoriesDropdown > button {
  width: 100%;
  background-color: #8ECAE6;
  border: 1px solid #219EBC;
  border-radius: 10px;
}

.CategoriesDropdown > button:hover,
.CategoriesDropdown > button:focus,
.CategoriesDropdown > button:active {
  background-color: #8ECAE6 !important;
  border: 1px solid #8ECAE6;
  border-radius: 10px;
  box-shadow: none !important;
}

.CategoriesDropdown > button:hover {
  color: #023047;
}

.CategoriesDropdown .dropdown-item.active {
  background-color: #219EBC;
  color: #023047;
}