.Container {
  background-color: #FFF;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #8ECAE6;
  height: 100%;
}

.FileInput {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}

label {
  font-size: 12px;
  color: #808080;
  text-transform: uppercase;
}

input::placeholder {
  font-size: 14px;
}

.ExifIcon {
  font-size: 16px;
}