.App {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  background-image: linear-gradient(-45deg, #b7d4ff 0%, #ffffff 48%, #9bd0ff 100%);
  color: #023047;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.Wrapper {
  padding: 70px 0;
  margin-top: 20px;
}

.Container {
  background-color: #FFF;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #8ECAE6;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}

.Row {
  height: 100%;
  margin: 0;
}

a {
  color: #024047;
  text-decoration: none;
}

a:hover {
  color: #FB8500;
  transition: color ease-in-out 0.3s;
  text-decoration: none;
}

a:hover i {
  color: #FB8500;
}

i {
  color: #8ECAE6;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  color: #FFB703;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display SC', serif;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.ErrorMessage {
  font-size: 14px;
  background-color: #F8D7DA;
  color: #721C24;
  border: 1px solid #F5C6BC;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}